<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>servlet.InitServlet</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/hrms</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>pwd</param-name>
			<param-value>zyta</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>servlet.AjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/ajax.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PaymentServlet</servlet-name>
		<servlet-class>servlet.PaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentServlet</servlet-name>
		<url-pattern>/payment.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>servlet.CheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/check.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScheduleServlet</servlet-name>
		<servlet-class>servlet.ScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleServlet</servlet-name>
		<url-pattern>/schedule.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WorklogServlet</servlet-name>
		<servlet-class>servlet.WorklogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorklogServlet</servlet-name>
		<url-pattern>/worklog.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TrainServlet</servlet-name>
		<servlet-class>servlet.TrainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrainServlet</servlet-name>
		<url-pattern>/train.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MeetingServlet</servlet-name>
		<servlet-class>servlet.MeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MeetingServlet</servlet-name>
		<url-pattern>/meeting.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>


	<jsp-config>
		<taglib>
			<taglib-uri>jsf_core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/sql.tld</taglib-location>
		</taglib>
	</jsp-config>





</web-app>
